################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex
/WebApplication1/.vs/Application/v17
/.vs/Template/v17
/.vs
/Application/.vs
/Application/Application.API/bin/Debug/net8.0
/Application/Application.API/Logs
/Application/Application.API/obj
/Application/Application.Domain/bin/Debug/net8.0
/Application/Application.Domain/obj/Debug/net8.0
/Application/Application.Infrastructure/bin/Debug/net8.0
/Application/Application.Infrastructure/obj
/Application/Application.Test/bin/Debug/net8.0
/Application/Application.Test/obj
/Application/Application.Services/obj/Debug/net8.0/Application.Services.AssemblyInfoInputs.cache
/Application/Application.Services/obj/Debug/net8.0/Application.Services.assets.cache
/Application/Application.Services/obj/Debug/net8.0/Application.Services.GeneratedMSBuildEditorConfig.editorconfig
/Application/Application.Services/obj/Application.Services.csproj.nuget.dgspec.json
/Application/Application.Services/obj/Application.Services.csproj.nuget.g.props
/Application/Application.Services/obj/Application.Services.csproj.nuget.g.targets
/Application/Application.Services/obj/project.assets.json
/Application/Application.Services/obj/project.nuget.cache
/Application/Application.Services/obj/Debug/net8.0
